body {
    background-color: #000000;
    font-family: 'Lucida Grance', sans-serif;
    color: #FFFFFF;
}

h1 {
    text-align: center;
    font-size: 64px;
}

h2 {
    font-size: 30px;
    filter: drop-shadow(5px 5px 2px #808080);
}

p {
    font-size: 24px;
    padding-top: 20px;
}

img {
    width: 525px;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;

}

div {
    height: 150px;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 25px;
    padding-right: 25px;
}

#red {
    background-color: #ff0000;
    text-align: right;
}

#blue {
    background-color: #0000ff;
}

#yellow {
    background-color: #ffff00;
    text-align: right;
    color: #000000;
}

#yellow h2{
    filter: drop-shadow(5px 5px 2px #c7e2c7);   
}


#green {
    background-color: #228B22;
}

footer {
    text-align: right;
    padding-bottom: 10px;
    padding-right: 10px;
}
